* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("bg-pattern-top.svg"), url("bg-pattern-bottom.svg");
    
    background-repeat: no-repeat, no-repeat;
    background-position:top -150px left, bottom -220px right 0px;
    background-size: contain, contain;

}

.card-body {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    font-family: kumbh sans;
    font-size: 17px;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: absolute;
    left: 100px; top: 60px;
    padding: 5px;
    overflow: hidden;
    background-color: white;
    z-index: 10;

}

.avatar-image{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.circles {
    display: flex;
}

.stats {
    display: flex;
    justify-content: space-between;
}
.text{
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.victor{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.london{
    display: flex;
    justify-content: center;
}
p{
    font-size: 13px;
    color: hsl(227, 10%, 46%);
}